body{
  background-image: url(./assets/pic.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Roboto', sans-serif;
  display: grid; /* Changed from flex to grid */
  place-items: center; /* Centers children both vertically and horizontally */
  min-height: 100vh;
  margin: 0;
  color: white;
  transition: all 0.5s ease;
}

.clock-container{
  background-color: rgba(0,0,0,0.5);
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  text-align: center;
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.5);
  transition: all 0.5s ease, background-color 0.5s ease; /* Added transition for background-color */
}

.clock-container:hover {
  transform: scale(1.05);
  background-color: rgba(0,0,0,0.7); /* Darkens the background on hover */
}

.clock{
  font-size: calc(2rem + 1.5vw); /* Responsive font size */
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  transition: all 0.5s ease;
}

.clock:hover {
  transform: scale(1.1);
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .clock-container {
    padding: 1rem; /* Reduces padding on smaller screens */
  }
}